@media screen and (max-width: 1350px) {
	.str_4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.header_4 {
		text-align: center;
		margin: 0 auto 20px auto;
		width: 60vw;
	}
	.header_4 .red_hr {
		margin: auto;
	}
	.content_str_4 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.str_4_left {
		margin: 0 0 0 0;
	}
	.str_4_right {
		text-align: center;
	}
	.str_4_right ul {
		justify-content: center;
	}
	.worker_photo {
		justify-content: center;
	}
}
@media screen and (max-width: 1185px) {
	.nav a {
		font-size: 2vw;
	}
	h1 {
		font-size: 55px;
	}
	.gen_str {
		justify-content: center;
	}
	.general_info {
		margin-top: 8vh;
	}
}
@media screen and (max-width: 745px) {
	h2 {
		font-size: 5vw;
	}
	h3 {
		font-size: 3vw;
	}
	.header_6 {
		text-align: center;
		margin: 0 auto 50px auto;
	}
	.header_6 .red_hr {
		margin: 0 auto 0 auto;
	}
	.send_message {
		width: 84vw;
		margin: 0 8vw 0 8vw;
	}
	.contact_message {
		justify-content: center;
	}
	.contact_info {
		margin: 10px 5vw 0 5vw;
	}
}
@media screen and (max-width: 520px) {
	h3 {
		font-size: 5vw;
	}
	.nav {
		width: 95vw;
	}
	.nav > li {
		width: 45vw;
	}
	.nav a {
		font-size: 4vw;
	}
	.gen_str {
		margin: auto;
	}
	.general_info {
		margin-top: 5vh;
	}
	h1 {
		font-size: 11vw;
	}
	.general_image {
		width: 95vw;
		height: 70vw;
		background-repeat: no-repeat;
		background-size: contain;
	}
	footer {
		justify-content: center;
	}
}